// Fuente

$font: "Poppins", sans-serif;

// Colores

$primary: #f56600;
$primary-light: #ff9346;
$primary-dark: #d35700;

$secondary: #3a3a3a;
$secondary-light: #707070;
$secondary-section: #f6f6f6;

$gray: #7f7f7f;
$gray-light: #eee;
$gray-dark: #4d4d4d;

$azul-davante: #003594;

// General styles
* {
  box-sizing: border-box;
  color: $secondary;
  line-height: 1;
  outline: none !important;
}

html {
  font-family: $font, sans-serif;
  font-size: 62.5%;
  line-height: 1;
}

body {
  .overlay-modal {
    backdrop-filter: blur(0.5rem);
    background-color: rgba(9, 24, 36, 0.99);
    border-radius: 50%;
    display: none;
    height: 200vh;
    left: 50%;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center center;
    width: 200%;
    z-index: 9999;
  }
  .hidden {
    display: none;
  }
  &.blocked {
    overflow: hidden;
    user-select: none;
  }
  .section-title {
    @include letter-spacing(2.4);
    color: $secondary;
    font: 600 2.4rem/1.33 $font;
    @include min(sm) {
      @include letter-spacing(4.2);
      font-size: 4.2rem;
    }
    @include min(xl) {
      @include letter-spacing(6);
      font-size: 6rem;
    }
  }
  p {
    strong {
      font-weight: 700;
    }
  }
  .page-wrapper {
    margin-top: 1.5rem;
    @include min(lg) {
      display: grid;
      gap: 3.5rem;
      grid-template-columns: minmax(0, 1fr) 44rem;
      margin-inline: auto;
      max-width: 114rem;
    }
    @include min(med) {
      max-width: 132rem;
    }

    @include min(xl) {
      max-width: 150rem;
    }
    @include min(med) {
      gap: 6.5rem;
    }
    main {
      display: grid;
      gap: 4.5rem;
      grid-template-columns: 100%;
      @include min(sm) {
        gap: 6.5rem;
      }
    }
  }
}

.hidden {
  display: none;
}
