// Layout

@mixin pseudo {
  content: "";
  display: block;
}

@mixin flex($justify: center, $alignI: center) {
  display: flex;
  box-sizing: border-box;
  justify-content: $justify;
  align-items: $alignI;
}

@mixin f-col($distancia: 0) {
  display: flex;
  flex-direction: column;
  gap: #{$distancia}rem;
}
// Posicionamiento

@mixin absolute($top, $left) {
  left: $left;
  position: absolute;
  top: $top;
}

@mixin absolute-position {
  @include absolute(50%, 50%);
  position: absolute;
  transform: translate(-50%, -50%);
}

@mixin absolute-cover {
  @include absolute(0, 0);
  height: 100%;
  width: 100%;
}

@mixin repeat-grid($cols) {
  grid-template-columns: repeat($cols, minmax(0, 1fr));
}

// Elementos
@mixin box-shadow($x, $y, $offset, $spread, $color, $opacity) {
  box-shadow: $x $y $offset $spread rgba($color, $opacity);
}

@mixin img-resp {
  display: block;
  max-width: 100%;
  width: 100%;
}

@mixin img-cover {
  @include absolute-cover;
  max-width: 100%;
  object-fit: cover;
}

@mixin letter-spacing($cantidad) {
  letter-spacing: calc(-1 * (#{$cantidad}rem / 100));
}

// Responsive

$breakpoints: (
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1200px,
  med: 1400px,
  xl: 1600px,
  xxl: 1920px,
);

@mixin min($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    $breakpoint-value: map-get($breakpoints, $breakpoint);
    @media (min-width: $breakpoint-value) {
      @content;
    }
  } @else {
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}
