#plazas {
  @include f-col(3.5);
  background-color: $primary;
  padding-block: 3.5rem;
  position: relative;
  @include min(sm) {
    padding-block: 6rem;
  }
  @include min(lg) {
    padding-inline: 4rem 6rem;
    display: flex;
  }
  @include min(med) {
    border-radius: 2.5rem 0 0 2.5rem;
    padding-inline: 4rem 0;
    margin-right: 12.5rem;
  }
  * {
    color: white;
  }
  img {
    display: none;
    @include min(med) {
      display: block;
      position: absolute;
      height: 100%;
      top: 0;
      width: auto;
      right: -12.4rem;
    }
  }
  .container {
    @include f-col(3.5);
    @include min(lg) {
      margin-inline: 0;
      max-width: initial;
      gap: 5.5rem;
    }
    .plazas-content {
      @include f-col(2.8);

      .section-title {
        max-width: 48.7rem;
        @include min(med) {
          max-width: 100%;
        }
        @include min(xl) {
          max-width: 100%;
        }
      }
      p {
        @include letter-spacing(1.6);
        font: 500 1.6rem/1.5 $font;
        @include min(sm) {
          @include letter-spacing(2.4);
          font-size: 2.4rem;
        }
      }
    }
  }
  .plazas-listado {
    display: grid;
    gap: 1.5rem;
    padding-left: 2.1rem;
    @include min(xl) {
      @include repeat-grid(2);

      gap: 4rem 4.5rem;
    }
    li {
      font: 500 1.6rem/1.5 $font;
      list-style-position: inside;
      padding-left: 1.7rem;
      position: relative;
      @include min(sm) {
        font-size: 2.1rem;
      }
      &:before {
        @include pseudo;
        @include absolute(50%, 0);
        background-color: white;
        border-radius: 50%;
        height: 0.7rem;
        transform: translateY(-50%);
        width: 0.7rem;
      }
    }
  }
}
